.dashboard.admin .navbar {
    background-color: #e60000;
}

.dashboard.admin .dashboard-content {
    background-color: #fff5f5;
}

.dashboard.admin .dashboard-footer {
    background-color: #e60000;
}
