.dashboard.student .navbar {
    background-color: #4D94E6;
}

.dashboard.student .dashboard-content {
    background-color: #f1f1f1;
}

.dashboard.student .dashboard-footer {
    background-color: #4D94E6;
}
